@font-face {
  font-family: 'din';
  src: url("../fonts/din-1451-engschrift.eot") format('enbedded-opentype'), url('../fonts/din-1451-engschrift.woff') format('woff'), url('../fonts/din-1451-engschrift.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
