@import url(https://db.onlinewebfonts.com/c/da950f2527dc01bebcbedd536e38c145?family=Futura);

:root {
  --font-title: Futura;
  --color-text: #333;
  --color-full-band-background: rgba(65, 65, 65, .4);
  --color-full-band-end-background: rgba(65, 65, 65, .2);
  --size-max-app-content: 1000;
  --size-app-padding: 7vw;

  --color-dark: #2A1A4B;
  --color-highlight: rgb(249,118,114);
}
* {
  color: var(--color-text);
  box-sizing: border-box;
}
body, html, #svelte {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(0deg, var(--color-full-band-end-background), var(--color-full-band-background));
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: stretch;
}
#svelte {
  min-height: 100%;
  width: 100%;
}
ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
p {
  font-family: Helvetica;
  font-size: 1.1em;
  line-height: 1.4em;
  color: var(--color-text);
  font-weight: 300;
}
a:hover {
  cursor: pointer;
}
body {
  background-image: linear-gradient(0deg, #2A1A4B 400px, black, #2A1A4B);
}
.title {
  font-size: 2em;
  font-family: var(--font-title);
  text-transform: uppercase;
  color: white;
}
h3.title {
  font-size: 1.7em;
}
h4.title {
  font-size: 1.5em;
}

